/* estilos barra navegacion */

.grey-bg{
    background-color: grey;
}

.gray:hover{
    background-color: rgb(178, 175, 175);
}

.gray-sale{
    color: crimson;
}

.gray:active{
    color: whitesmoke;
}

.black-elegido{
    background-color: black;
    border-radius: 20px;
    border-color: rgb(81, 84, 84);
}