
$color-principal: rgb(84, 81, 81);

//colores de divs
$div-uno: rgb(84, 81, 81);
$div-dos: white;


//colores botones
$boton-uno: rgb(128, 124, 124);
$boton-dos: rgb(128, 124, 124);
$boton-forms: grey;
$boton-forms-a: rgb(249, 249, 249);
$boton-hombre-mujer: rgb(16, 16, 16);
$boton-hombre-mujer-a: rgb(249, 249, 249);
$boton-ver-sale:rgb(255, 255, 255);
$boton-ver-sale-a: black;






